{# templates/author/search_results.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Search Results{% endblock %}

{% block body %}
    <h1>Search Results</h1>
    {% if authors is empty %}
        <p>No authors found.</p>
    {% else %}
        <ul>
            {% for author in authors %}
                <li>{{ author.getUsername() }}</li>
                <!-- Display other author information as needed -->
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ path('author_search') }}">Back to Search</a>
{% endblock %}
