

{% block title %} Books List by Authors {% endblock %}

{% block body %}
    <h1>Books List Sorted by Authors</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Date</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author.username }}</td>
                <td>{{ book.publicationDate|date('Y-m-d H:i:s') }}</td>
                <td>{{ book.category }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%endblock body%}

